<div class="wrapper">
  <div class="chat-box" [class.chat-box-hidden]="!chatVisible">
    <div class="chat-box-header">
      <div class="">
        <div class="operator-status">
          {{operator.status}}
          <span class="operator-status-online">●</span>
        </div>
        <img src="{{operator.avatar}}" class="operator-avatar" alt="">
        <h3 class="operator-name">
          {{operator.name}}
        </h3>
      </div>
    </div>
    <div class="chat-box-main">
      <div class="chat-message-bottom" #bottom></div>
      <ng-container *ngFor="let message of messages">
        <div class="chat-message" [class.chat-message-received]="message.type === 'received'"
             [class.chat-message-sent]="message.type === 'sent'">
          <div >
            <img src="{{message.from.avatar}}" class="chat-message-from-avatar" alt="">
            <div class="chat-message-text">
              {{message.text}}
            </div>
          </div>
          <div class="chat-message-date">
            {{message.date | date: 'short'}}
          </div>
        </div>
      </ng-container>
    </div>
    <div class="chat-box-footer">
      <textarea type="text" class="chat-input-text" placeholder="Type message..."
                #message (keydown.enter)="onSubmit()" (keyup.enter)="message.value = ''"></textarea>
      <button type="submit" class="chat-input-submit" (click)="onSubmit()">
        ↩︎
      </button>
    </div>
  </div>
  <button class="chat-button" (click)="toggleChat()">
    <span *ngIf="chatVisible">✕</span>
    <span *ngIf="!chatVisible">?</span>
  </button>
</div>
