/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  font-family: 'Open Sans', sans-serif;
}
* {
  box-sizing: border-box;
}
